#panel {
	background-color:#fff;
	padding:25px 75px;
	margin:15px 0px;
	border-radius: 15px;
	box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.15);
}

img#banner {
	box-shadow: 4px 2px 4px 1px rgba(0, 0, 0, 0.15);
	border-radius: 2px;
}

#gotop {
	border-radius: 10px;
   	 display: none;
	position: fixed;
	right: 20px;
	bottom: 20px;    
	padding: 10px 15px;    
	font-size: 20px;
	background: #777;
	color: white;
	cursor: pointer;
}

#linksize {
	font-size: 20px;
}

body {
background-color:#bbd4ef;
background-image: linear-gradient(rgba(255,255,255,.3) 2px, transparent 2px),
linear-gradient(90deg, rgba(255,255,255,.3) 2px, transparent 2px),
linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
linear-gradient(90deg, rgba(255,255,255,.3) 1px, transparent 1px);
background-size:100px 100px, 100px 100px, 20px 20px, 20px 20px;
background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px
}

/*
body {
	background-color:#bbd4ef;
	font-family: NotoSansCJKtc-Regular;
}
*/

/* 整體設置*/ 

@font-face {
	font-family: NotoSansCJKtc-Regular;
	src: url( ../NotoSansCJKtc-Regular.otf);
}

p {
	font-size:17px;
}
.navigation {
	margin:0; 
	padding:0;
	min-height: 34px;
	font-family: NotoSansCJKtc-Regular;
	display: block;
}
 
.navigation li {
	height: 34px;
	float:left; 
    padding:0; 
	margin:0 10px 0 0; 
	_margin:0 2px 0 0; 
	width:135px;
	list-style:none;
}
 
/* 設置選單區塊*/
.navigation li dl { 
	width:135px;/*ie6*/
	height: 34px;
    margin:0; 
	padding:0;
	background-color:#fff;
	border:solid 2px #666; 
	border-radius: 4px;
}
 
.navigation li dl dt{ 
	border-radius: 4px;
}

.navigation li dt a , .navigation li dd a{ display:block;}
 
 
/* 設置主選單dt */
.navigation li dt {
	margin:0;
	padding: 5px;
	text-align:center;
	background-color:#fff;	
	font-size: 16px;
	font-weight: bold;
	height:30px;
	overflow:hidden;
}
 
.navigation li dt a ,.navigation  li dt a:visited {
	display:block; 
    color:#333;
    text-decoration:none;
}
 
/* 設置子選單dd */
.navigation li dd { 
	margin:0; 
    padding:0; 
	color: #333; 
	background-color:#efefef;
	border-bottom:dotted 1px #666;
	font-size: 14px;
}
 
.navigation li dd.last {
	border-bottom:0;
}	
 
.navigation li dd a, .navigation  li dd a:visited {
	display:block; 
	color:#333; 
    text-decoration:none; 
	padding:4px 5px 4px 20px;
}
 
  .navigation  li dd a:hover{
  	background-color: rgba(193, 230, 234, 1);
} 
/*隱藏子選單*/
.navigation dl li { display:none;}
 
 
/* 滑鼠滑入顯示子選單 */
.navigation li:hover dl li { 
	display: block;
	position: absolute;
}
 
/*ie6 hack*/
.navigation li:hover,.navigation li a:hover { border:0;}
.navigation table {
	border-collapse:collapse; 
    padding:0; 		
	text-align:left;
}

div.container {
	max-width: 1054px;
}

div#banner {
	margin: 10px auto;
	max-width:100%;
}

@font-face {
	font-family: NotoSansCJKtc-Bold;
	src: url( ../NotoSansCJKtc-Bold.otf);
}

div#lang {
	margin-left: 730px;
	margin-top: -32px;
	margin-bottom: 16px;
	width: 300px;
	font-size: 20px;
	font-family: NotoSansCJKtc-Bold;
	color: cyan;
	-webkit-text-stroke: -1px white;
}

a.lang {
	color: cyan;
}

a.lang:hover {
	color: red;
}